*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
p{
    margin: 0;
}
.rufats{
    width: 1920px;
    height: 124px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
}
.rufats a{
    text-decoration: none;
    font-family: Plus Jakarta Sans;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    color: #3563E9;
}
#myForm{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #C3D4E966;
    border-radius: 40px;
    height: 46px;
    padding: 15px;
    width: 492px;
}
#myForm input{
    width: 400px;
    border: none;
    outline: none;
}
.fa-magnifying-glass{
    color: #596780;
}
.fa-sliders{
    color: #596780;
}
.rightsocials{
    display: flex;
}
#mySocials li{
    list-style: none;
}
#mySocials{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
#mySocials li a i{
    color: #596780;
    font-size: 20px;
}
#mySocials a{
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #596780;
    border-radius: 50%;
}
#mySocials li img{
    width: 44px;
    height: 44px;
    border-radius: 50%;
}
.twocardsection{
    display: flex;
    font-family: Plus Jakarta Sans;
    color: white;
    margin-top: 50px;
}
.firstrental{
    position: relative;
    height: 360px;
    width: 640px;
    background-color: #54A6FF;
    padding: 30px;
    border-radius: 10px;
}
.secondrental{
    position: relative;
    height: 360px;
    width: 640px;
    background-color: #3563E9;
    padding: 30px;
    border-radius: 10px;
}
.secondrental a{
    background-color: #54A6FF;
}
.rentaldiv{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.bgcforcard{
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}
.firstrentaltext{
    width: 284px;
    height: 160px;
}
.secondrentaltext{
    width: 284px;
    height: 160px;
    line-height: 24px;
}
.secondrentaltext h3{
    margin-bottom: 25px;
}
.firstrentaltext h3{
    margin-bottom: 25px;
}
.pickdrop{
    display: flex;
    margin-top: 50px;
}
.pickup{
    padding: 15px;
    display: flex;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 100%;
    height: 136px;
    border-radius: 10px;
}
.dropoff{
    padding: 15px;
    display: flex;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    width: 100%;
    height: 136px;
}
.texlower{
    max-width: 100%;
}
.texupper{
    max-width: 100%;
}
.highvaluetext{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 16px;
    font-weight: 600;
    font-family: Plus Jakarta Sans;
}
.highvaluetext img{
    width:  16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.yourdatas{
    display: flex;
    align-items: center;
    gap: 75px;
}
.highvaluetext h5{
    margin-bottom: 2.5px !important;
}
.highvaluetext{
    margin-bottom: 15px;
}
.setterrufat{
    display: flex;
    align-items: center;
    gap: 5px;
}
.setterrufat img{
    width: 14px;
    height: 14px;
}
.setterrufat p{
    color: #90A3BF;
    font-size: 12px;
}
.yourdatas h5{
    font-size: 16px;
}
.specialbtn{
    margin: 40px 50px 0 50px;
    width: 60px;
    height: 60px;
}
.fa-right-left{
    font-size: 14px;
}
.yourtime{
    border-left: 1px solid #C3D4E9;
    padding-left: 24px;
}
.yourdate{
    border-left: 1px solid #C3D4E9;
    padding-left: 24px;
}

